.row.item-list{
    margin-bottom: 1.25%;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 1.25%
}

.status-tag{
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 900;
    margin: auto;
    padding-top: 3px;

}

.item-list.btn-form-default{
    width: 100%;
    min-height: 4vh;
}

.modal-body > .row{
    margin-bottom: 2%
}

.screen-title {
    color: #232323;
    font-weight: 900;
    font-size: 20px;
    margin: 2.5%;
    margin-left: 0%;
}

.description-text{
    font-weight: 400;
    width: 22%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: auto; 
    margin-bottom: auto;
}

.description-text:hover{
    overflow: visible;
}

.form-input {
    height: 28px;
    font-size: 14px !important;
    height: 25px; 
    width: 40%; 
    float: right;
}

.form-control:focus {
    border-color: #979797;
    box-shadow: 0 0 5px rgba(151, 151, 151, 35);
}

.form-control::placeholder {
    color: #979797
}

.input-text{
    width: 50%;
    padding-top: 1%;
    font-weight: 900;
}